<!DOCTYPE html>
<html 
	xmlns=th="http://www.thymeleaf.org"
>
    <link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../../css/utils.css" type="text/css" rel="stylesheet">
    <link href="../../css/style.css" type="text/css" rel="stylesheet">
    <link
        href="../../css/component/member/stuff/component-list.css"
        type="text/css"
        rel="stylesheet">
        
   	<script type="text/javascript" src="../../js/member/stuff/list.js"></script>
</head>

<body>
    
        <section class="canvas p-rel b-rad-2">
            <header class="d-fl-al header-jc">

                <select class="selectbox-set" onchange="if(this.value) location.href=(this.value);">
                    <option value="">신수동</option>
                    <option value="">신설동</option>
                    <option value="gps.html">GPS설정</option>
                </select>

                <div>
                    <!-- <a class="icon icon-menu">메뉴</a> -->
                    <a class="icon icon-alarm">알림</a>
                    <a class="icon">
                        <input type="checkbox" id="menuicon">
                        <label for="menuicon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                        <div class="sidebar">
                            <div class="welcome f-weight">
                                <span class="f-color-2">뉴렉님</span><br>환영합니다.
                            </div>
                            <div class="side-menu">
                                <div></div>
                                <span class="sidebar-padding" onclick="location.href='list'">홈</span>
                                <span class="sidebar-padding" onclick="location.href='listsearch'">검색하기</span>
                                <span class="sidebar-padding" onclick="location.href='reg'">글 등록하기</span>
                                <span class="sidebar-padding" onclick="location.href='../participation/list.html'">채팅하기</span>
                            </div>
                        </div>
                    </a>
                </div>
            </header>
            
 			<nav>
              <form action="list" method="get" class="header-categ-box">
               	 <div> 
               	 	<button class="header-categ">전체</button>
               	 </div>
                 	 
                 	 <!-- category를 a태그나 button 태그로 해도 되는데 button 태그가 맞는거 같다. -->
		         <!-- button 태그에는 "formacton"이라는 속성이 있어서 form 태그로 묶어서 제출 버튼이 있는 경우, 
		         기존 form action 보다 버튼의 formaction의 특성이 우선 순위로 action 동작한다.  -->
		         <div th:each="c: ${categoryList}">
		            <button class="header-categ" name="cselect" value="1" 
		            th:name="c" th:value="${c.id}" th:text="${c.name}"
		            >일반상품</button>
		         </div>
		      </form>
			</nav>
            
            <main>
	            <div th:each="stuff: ${list}">
	            <!-- a 태그로 변경!! -->
	                <a class="d-gr li-gr m-t-13px list-cl"
	                href="./detail.html" th:href="@{./detail(id=${stuff.id})}"
	                >
	                    <!-- 나중에 전체를 div로 묶어서 main으로 크게 묶기 -->
	                    <div class="li-pic b-rad-1">사진</div>
	                    <div class="li-categ header-categ li-header-categ" 
	                    th:text="${stuff.categoryName}">딜리버리 푸드</div>
	                    <div class="li-heart icon icon-heart">
	                        찬하트
	                    </div>
	                    <div class="li-subj" th:text="${stuff.title}">서강대 앞 교촌치킨 시켜드실 분</div>
	                    <div class="li-member" th:text="|1 / ${stuff.numPeople}|">2/5</div>
	                    <div class="li-date" th:text="${#temporals.format(stuff.deadline, 'M월 d일 HH시까지')}">2월 3일 금 18시까지</div>
	                </a>				
	                <div>
	                    <h1 class="icon icon-line">선 긋기</h1>
	                </div>
				</div>
            </main>

            <nav class="navi-bar d-fl-jf" style="display: none;">
                <div>
                    <a class="icon icon-home m-notop" href="./list.html">home</a>
                </div>
                <div>
                    <a class="icon icon-search m-notop" href="./list-search.html">search</a>
                </div>
                <div>
                    <a class="icon icon-post m-notop" href="./reg.html">post+</a>
                </div>
                <div>
                    <a class="icon icon-chat m-notop" href="../participation/list.html">chat</a>
                </div>
                <div>
                    <a class="icon icon-info m-notop">mypage</a>
                </div>
            </nav>
        </section>

    
</body>

</html>